#cheddar {
	background-image: url('images/cheddar@2x.png');
	background-size: 100%;
}

#octopus {
	background-image: url('images/octopus@2x.png');
	background-size: 100%;
}

#snap {
	background-image: url('images/snap@2x.png');
	background-size: 100%;
}

#sonora {
	background-image: url('images/sonora@2x.png');
	background-size: 100%;
}