body {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14pt;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background-color: #ffffff;
}

::selection 	 	{background: #303649; color: #ffffff;}
::-moz-selection 	{background: #303649;}

#page {
	height: 100%; width: 1100px;
	padding: 0px 14px 15px;
    margin: 0 auto;
}

/* Name and Description */

#header {
	text-align: left;
	margin-top: 100px;
	
}

#header-name {
	font-size: 36px;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
	color: #303648;
}

#header-description {
	font-size: 24px;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #626570;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 15px;
}

/* Social Links */

#social-links {
	margin-top: -92px;
	margin-left: 780px;
}

#twitter {
	background: #00aee7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#twitter i.icon-twitter {
	font-size: 36px;
	color: #ffffff;
	width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 4px;
    margin-left: 12px;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    -webkit-transform: rotate(-20deg);
}

#twitter:hover {
	background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#twitter i.icon-twitter:hover {
	font-size: 36px;
	color: #00aee7;
	width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 4px;
    margin-left: 12px;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    -webkit-transform: rotate(-20deg);
}

#github {
	background: #272727;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: -60px;
}

#github i.icon-github {
	font-size: 36px;
	color: #ffffff;
	width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 16px;
    margin-left: 14px;
    text-decoration: none;
}

#github:hover {
	background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#github i.icon-github:hover {
	font-size: 36px;
	color: #272727;
	width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 16px;
    margin-left: 14px;
    text-decoration: none;
}

#blog {
	background: #f51c1c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 140px;
    margin-top: -60px;
}

#blog i.icon-book {
	font-size: 36px;
	color: #ffffff;
	width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 16px;
    margin-left: 15px;
    text-decoration: none;
}

#blog:hover {
	background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#blog i.icon-book:hover {
	font-size: 36px;
	color: #f51c1c;
	width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 16px;
    margin-left: 15px;
    text-decoration: none;
}

#mail {
	background: #f4ed0f;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 210px;
    margin-top: -60px;
}

#mail i.icon-envelope {
	font-size: 28px;
	color: #ffffff;
	width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 19px;
    margin-left: 17px;
    text-decoration: none;
}

#mail:hover {
	background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#mail i.icon-envelope:hover {
	font-size: 28px;
	color: #f4ed0f;
	width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 19px;
    margin-left: 17px;
    text-decoration: none;
}


/* Projects - Cheddar */

#cheddar {
	background-image: url('images/cheddar.png');
	width: 600px; height: 450px;
	margin-top: 100px;
}

#cheddar-info {
	text-align: left;
	position: absolute;
	width: 500px;
	margin-left: 645px;
	margin-top: -300px;
}

#cheddar-project-title {
	color: #c3c3c3;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-top: -120px;
}

#cheddar-title a {
	color: #303649;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-top: 4px;
	text-decoration: none;
}

#cheddar-title a:hover {
	color: #636b83;
}
#cheddar-description-title {
	color: #c3c3c3;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-top: 8px;
}

#cheddar-description {
	color: #666973;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	margin-top: 8px;
	width: 400px;
	line-height: 30px;
}

/* Octopus */

#octopus {
	background-image: url('images/octopus.png');
	width: 600px; height: 450px;
	margin-top: 100px;
}

#octopus-info {
	text-align: left;
	position: absolute;
	width: 500px;
	margin-left: 645px;
	margin-top: -300px;
}

#octopus-project-title {
	color: #c3c3c3;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-top: -120px;
}

#octopus-title a {
	color: #303649;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-top: 4px;
	text-decoration: none;
}

#octopus-title a:hover {
	color: #636b83;
}
#octopus-client-title {
	color: #c3c3c3;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-top: 6px;
}

#octopus-client {
	color: #303649;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: 4px;
}

#octopus-description-title {
	color: #c3c3c3;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-top: 12px;
}

#octopus-description {
	color: #666973;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	margin-top: 8px;
	width: 400px;
	line-height: 30px;
}

/* Snap */

#snap {
	background-image: url('images/snap.png');
	width: 600px; height: 450px;
	margin-top: 100px;
}

#snap-info {
	text-align: left;
	position: absolute;
	width: 500px;
	margin-left: 645px;
	margin-top: -300px;
}

#snap-project-title {
	color: #c3c3c3;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-top: -120px;
}

#snap-title a {
	color: #303649;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-top: 4px;
	text-decoration: none;
}

#snap-title a:hover {
	color: #636b83;
}
#snap-description-title {
	color: #c3c3c3;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-top: 8px;
}

#snap-description {
	color: #666973;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	margin-top: 8px;
	width: 400px;
	line-height: 30px;
}

/* Sonora */

#sonora {
	background-image: url('images/sonora.png');
	width: 600px; height: 450px;
	margin-top: 100px;
}

#sonora-info {
	text-align: left;
	position: absolute;
	width: 500px;
	margin-left: 645px;
	margin-top: -300px;
}

#sonora-project-title {
	color: #c3c3c3;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-top: -120px;
}

#sonora-title a {
	color: #303649;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-top: 4px;
	text-decoration: none;
}

#sonora-title a:hover {
	color: #636b83;
}

#sonora-description-title {
	color: #c3c3c3;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-top: 8px;
}

#sonora-description {
	color: #666973;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	margin-top: 8px;
	width: 400px;
	line-height: 30px;
}

/* Footer */

#footer {
	background-color: #303649;
	height: 100px;
	margin-top: 2500px;
	width: 100%;
	background-position: 0 0;
    background-repeat: repeat-x;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
    position: absolute;
    z-index: 0;
}

#copyright {
	
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	color: #ffffff;
	margin-top: 43px;
	margin-top: 155px;
	position: absolute;
	text-align: left;
	z-index: 1;
}

#email a {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	margin-top: 152px;
	margin-left: 865px;
	position: absolute;
	text-align: right;
	z-index: 1;
	text-decoration: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
}

#email a:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}