html, body {
	min-width: 1110px;
}

#header-spacer {
	width: 100%; height: 30px;
}

.project {
	width: 100%; height: 337px;
	margin: 0 auto;
}

.project.flamingo {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #FEECEF)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FEECEF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FEECEF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FEECEF 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FEECEF 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #FEECEF 100%);
}

.project.sonora {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #EBECF4)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EBECF4 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EBECF4 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EBECF4 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EBECF4 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBECF4 100%);
}

.project.snap {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #F5F5F5)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F5F5F5 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F5F5F5 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F5F5F5 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F5F5F5 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F5F5F5 100%);
}

.project-container {
	width: 960px; height: 100%;
	margin-left: auto; margin-right: auto;
}

.project-details {
	width: 480px;
	color: #666666;
	padding-top: 38px; padding-bottom: 57px;
}

.project-details.left {
	float: left;
}

.project-details.right {
	float: right;
}

.project-icon {
	background-size: 90px 90px;
	width: 90px; height: 90px;
	float: left;
}

.project-icon.flamingo {
	background-image: url('../assets/flamingo-icon.png');
}

.project-icon.sonora {
	background-image: url('../assets/sonora-icon.png');
}

.project-icon.snap {
	background-image: url('../assets/snap-icon.png');
}

.project-header {
	width: 360px;
	float: right;
	margin-left: 30px;
}

.project-name {
	font-weight: bold;
	font-size: 36pt;
	letter-spacing: -1.5pt;
}

.project-slogan {
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	font-size: 16pt;
}

.project-description {
	font-family: 'Adobe Garamond Pro', 'adobe-garamond-pro', 'Garamond', serif;
	font-size: 14pt;
	line-height: 1.7;
	margin-top: 18px;
	margin-bottom: 37px;
	color: #000;
}

a.project-link {
	border: 2px solid #666666;
	border-radius: 8px;
	padding: 5px 12px;
	text-decoration: none;
	font-size: 17pt;
	font-weight: bold;
	letter-spacing: -1pt;
	color: #666666;
}

a.project-link:hover {
	border: 2px solid #acaba8;
	background: #acaba8;
	color: #fff;
}

.project-screen {
	width: 480px; height: 261px;
	margin-top: 47px;
	background-size: contain;
	background-repeat: no-repeat;
}

.project-screen.left {
	float: left;
	background-position: left;
}

.project-screen.right {
	float: right;
	background-position: right;
}

.project-screen.flamingo {
	background-image: url('../assets/flamingo.png');
}

.project-screen.sonora {
	background-image: url('../assets/sonora.png');
}

.project-screen.snap {
	background-image: url('../assets/snap.png');
	background-position: center;
}

@media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3/2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {
       
    .project-icon.flamingo {
    	background-image: url('../assets/flamingo-icon@2x.png');
	}

	.project-icon.sonora {
		background-image: url('../assets/sonora-icon@2x.png');
	}
	
	.project-icon.snap {
		background-image: url('../assets/snap-icon@2x.png');
	}
	
	.project-screen.flamingo {
		background-image: url('../assets/flamingo@2x.png');
	}
	
	.project-screen.sonora {
		background-image: url('../assets/sonora@2x.png');
	}
	
	.project-screen.snap {
		background-image: url('../assets/snap@2x.png');
	}
}